{% extends 'index.html' %}
{% load static %}

{% block css %}
<link rel=stylesheet href="{% static 'css/index_style.css' %}" fetchpriority=high>
<link rel=stylesheet href="{% static 'css/item_management_style.css' %}" fetchpriority=high>

{% endblock %}

{% block title %}
<title>Item Management</title>
{% endblock %}

{% block content %}
<div class="header">
    <h1>{% now "jS F Y H:i" %}</h1>
    <img src="{% static 'img/inventory_management_cover.png' %}" alt="inventory_management_cover">
</div>
<div class="search_fliter">
    <div><form method="POST">
    <input id="search_box" type="text" placeholder="Search by item name or id">
    </form>
    </div>
    <div><a href="javascript:void(0)" onclick="show_div('wrapper_add_item')" id="add"><svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#FFFFFF"><path d="M723.33-160v-130h-130v-66.67h130v-130H790v130h130V-290H790v130h-66.67Zm-616.66 40q-27 0-46.84-19.83Q40-159.67 40-186.67v-596.66q0-27 19.83-46.84Q79.67-850 106.67-850h596.66q27 0 46.84 19.83Q770-810.33 770-783.33v230h-66.67V-650H106.67v463.33h550V-120h-550Zm0-596.67h596.66v-66.66H106.67v66.66Zm0 0v-66.66 66.66Z"/></svg> Add</a></div>
    
</div>
<div class="table">
    <table>
        <thead>
        <tr>
        <th id="id" class="id" onclick="inventory('id')">ID</th>
        <th id="name" class="name" onclick="inventory('name')">NAME</th>
        <th id="store" class="store" onclick="inventory('store')">STORE</th>
        <th id="category" class="category" onclick="inventory('category')">CATEGORY</th>
        <th id="size" class="size" onclick="inventory('size')">SIZE</th>
        <th id="price" class="price" onclick="inventory('price')">PRICE</th>
        <th id="quantity" class="quantity" onclick="inventory('quantity')">QUANTITY</th>
        <th id="reorder_alert" class="quantity" onclick="inventory('reorder_alert')">REORDER ALERT</th>
        <th>ACTION</th>
        </tr>
    </thead>
        <tbody id="table_content">
        {% for item in items %}
        <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name}}</td>
        <td>{{ item.store }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.size }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.reorder_alert}}</td>
        <td><a title="Edit {{item.id}}" href="javascript:void(0)" id="more_action" onclick="get_inventory('wrapper_modify_item','{{item.id}}')"> <svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px" fill="black"><path d="M218.57-421.33q-24.24 0-41.4-17.26Q160-455.86 160-480.09q0-24.24 17.26-41.41 17.26-17.17 41.5-17.17t41.41 17.26q17.16 17.27 17.16 41.5 0 24.24-17.26 41.41-17.26 17.17-41.5 17.17Zm261.34 0q-24.24 0-41.41-17.26-17.17-17.27-17.17-41.5 0-24.24 17.26-41.41 17.27-17.17 41.5-17.17 24.24 0 41.41 17.26 17.17 17.27 17.17 41.5 0 24.24-17.26 41.41-17.27 17.17-41.5 17.17Zm261.33 0q-24.24 0-41.41-17.26-17.16-17.27-17.16-41.5 0-24.24 17.26-41.41 17.26-17.17 41.5-17.17t41.4 17.26Q800-504.14 800-479.91q0 24.24-17.26 41.41-17.26 17.17-41.5 17.17Z"/></svg></a>
            <a title="Item Adjustment {{item.id}}" href="javascript:void(0)" id="adjustment" onclick="adjustment('wrapper_adjustment_item','{{item.id}}')"><svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px" fill="black"><path d="M640-640h120-120Zm-440 0h338-18 14-334Zm16-80h528l-34-40H250l-34 40Zm184 270 80-40 80 40v-190H400v190Zm182 330H200q-33 0-56.5-23.5T120-200v-499q0-14 4.5-27t13.5-24l50-61q11-14 27.5-21.5T250-840h460q18 0 34.5 7.5T772-811l50 61q9 11 13.5 24t4.5 27v196q-19-7-39-11t-41-4v-122H640v153q-35 20-61 49.5T538-371l-58-29-160 80v-320H200v440h334q8 23 20 43t28 37Zm138 0v-120H600v-80h120v-120h80v120h120v80H800v120h-80Z"/></svg></a>
            <a title="Delete {{item.id}}" href="javascript:void(0)" id="delete" onclick="show_div('wrapper_delete_item','{{item.id}}')" ><svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px" fill="black"><path d="m366-299.33 114-115.34 114.67 115.34 50-50.67-114-115.33 114-115.34-50-50.66L480-516 366-631.33l-50.67 50.66L430-465.33 315.33-350 366-299.33ZM267.33-120q-27 0-46.83-19.83-19.83-19.84-19.83-46.84V-740H160v-66.67h192V-840h256v33.33h192V-740h-40.67v553.33q0 27-19.83 46.84Q719.67-120 692.67-120H267.33Zm425.34-620H267.33v553.33h425.34V-740Zm-425.34 0v553.33V-740Z"/></svg></a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div id="wrapper_add_item" class="wrapper_add_item">
    <div class="add_item">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Add New Item </h3>
        <div class="item_container">
        <div class="product_name">
            <p>Item Name </p>
            {{ form.name }}
        </div>
        <div class="barcode_number">
            <p> Barcode Number </p>
            {{ form.barcode_number }}
        </div>
        <div class="item_escription">
            <p> Item Description </p>
            {{ form.description }}
        </div>
        <div class="item_select">
            <p> Store </p>
            {{ form.store }}
        </div>
        <div class="item_select">
            <p> Category </p>
            {{ form.category }}
        </div>
        <div class="item_select">
            <p> Unit </p>
            {{ form.unit }}
        </div>
        <div class="item_select">
            <p > Size </p>
            {{ form.size }}
        </div>
        <div class="item_price">
            <p> Price </p>
            {{ form.price }}
        </div>
        <div class="item_cost">
            <p> Cost </p>
            {{ form.cost }}
        </div>
        <div class="item_cost">
            <p> Reorder Alert </p>
            {{ form.reorder_alert }}
        </div>
        <div class="item_photo">
            <p> Item Photo </p>
            {{ form.photo }}
            
        </div>
        </div>
        <br>
        <br>
        <br>
        <div class="button_submit"><button id="button_cancel" onclick="show_div('wrapper_add_item')"> Cancel</button><button id="button_submit" action="submit"> Submit </button></div>  
        {% if messages %}
            {% for message in messages %}
                <script>
                    Swal.fire({
                    title: "Add Item",
                    text: "{{ message }}",
                    icon: "success"
                    });
                </script>
            {% endfor %}
        {% endif %}
        {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                    <script>
                        Swal.fire({
                        title: "Add Item",
                        text: "{{error}}",
                        icon: "error"
                        }); window.addEventListener('click', ()=>{window.location.href = '/inventory/item-management/';})
                    </script>   
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <script>
                        Swal.fire({
                        title: "Add Item",
                        text: "{{error}}",
                        icon: "error"
                        }); window.addEventListener('click', ()=>{window.location.href = '/inventory/item-management/';})
                    </script>   
                    {% endfor %}     
                {% endfor %}
            {% endif %}
    </form>
    </div>
</div>
<div class="wrapper_delete_item" id="wrapper_delete_item">    
    <div class="delete_item" style="width: 320px;">
        <form id="form_deactivate">
            {% csrf_token %}
        <h3>Deactivate Item</h3>
        <div>
        <p>The item ID number <span style="color: brown;" id="product_id"></span> will be deactivated.</p>
        <input type="hidden" name="product_id" id="product_id_value">
        </div>
        <div class="button_submit"><span id="button_cancel_delete_item" onclick="show_div('wrapper_delete_item')"> Cancel</span><button id="button_submit_delete_item"> Submit </button></div>  
        </form>
    </div>
</div>
<div id="wrapper_adjustment_item" class="wrapper_adjustment_item">
    <div class="add_item" style="width: 320px;">
        <form  id="form_adjustment">
        {% csrf_token %}
        <h3>Adjustment Item <span id="product_id"></span> </h3>
        <div class="item_container">
        <div id="adjustment_name" class="adjustment_name">
            <p>Item Name </p>
            {{ form1.name }}
        </div>
        <div class="barcode_number">
            <p> Adjustment Type </p>
            {{ form1.adjustment_type }}
        </div>
        <div class="item_escription">
            <p> Quantity </p>
            {{ form1.quantity }}
        </div>
        <div class="item_select">
            <p> Description </p>
            {{ form1.description }}
        </div>
        </div>
        <br>
        <br>
        <br>
        <div class="button_submit"><button id="button_cancel" onclick="show_div('wrapper_adjustment_item')"> Cancel</button><button id="button_submit" action="submit"> Submit </button></div>  
    </form>
    </div>
</div>
<div id="wrapper_modify_item" class="wrapper_modify_item">
    <div class="add_item">
    <form id="form_update" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Modify Item ID <span style="all:unset" id="item_id"></span> </h3>
        <div class="item_container">   
        <div id="product_name" class="product_name">
            <p>Item Name </p>
            {{ form.name }}
        </div>
        <div id="barcode_number" class="barcode_number">
            <p> Barcode Number </p>
            {{ form.barcode_number }}
        </div>
        <div id="item_dscription" class="item_escription">
            <p> Item Description </p>
            {{ form.description }}
        </div>
        <div id="item_store" class="item_select">
            <p> Store </p>
            {{ form.store }}
        </div>
        <div id="item_category" class="item_select">
            <p> Category </p>
            {{ form.category }}
        </div>
        <div id="item_unit" class="item_select">
            <p> Unit </p>
            {{ form.unit }}
        </div>
        <div id="item_size" class="item_select">
            <p > Size </p>
            {{ form.size }}
        </div>
        <div id="item_price" class="item_price">
            <p> Price </p>
            {{ form.price }}
        </div>
        <div id="item_cost" class="item_cost">
            <p> Cost </p>
            {{ form.cost }}
        </div>
        <div id="item_reorder_alert" class="item_cost">
            <p> Reorder Alert </p>
            {{ form.reorder_alert }}
        </div>
        <div class="break">

        </div>
        <div id="item_photo" class="item_photo">
            <img src="" alt="product photo">
        </div>
        <div id="item_photo_file" class="item_photo">
            <p> Item Photo </p>
            {{ form.photo}}
            {{form.status}}
        </div>
        </div>
        <br>
        <br>
        <br>
        <div class="button_submit"><a id="button_cancel" onclick="show_div('wrapper_modify_item')"> Cancel</a><button id="button_submit" action="submit"> Submit </button></div>  
        <input type="hidden" name="product_id" id="product_id_value">
    </form>
    </div>
</div>

<script defer src="{% static 'js/show_div.js' %}"></script>
<script defer src="{% static 'js/inventory.js' %}"></script>

{% endblock %}